html {
  font-size: 20px;
  color: #333;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
html, body, .container {
  height: 100%;
}
.container {
  display: flex;
  align-items: center;
}
.content {
  max-width: 960px;
  margin: auto;
  text-align: center;
  padding-bottom: 10%;
}
.profile-pic {
  border-radius: 50%;
  width: 10rem;
  box-shadow: 0 0 5px 1px #ccc;
}
h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: .5rem;
}
nav a {
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
}
nav a:hover {
  color: #2075b1;
}
